# Python List

Lists are used to store multiple items in a single variable.
Lists are created using square brackets:

In [1]:
thisList = ["apple","banana","mango"]

In [2]:
thisList

['apple', 'banana', 'mango']

# List Item

List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
If you add new items to a list, the new items will be placed at the end of the list.

# Changable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Allow Duplicate Values

Since lists are indexed, lists can have items with the same value:

Example :
Lists allow duplicate values:

In [3]:
thisList = ["apple","banana", "mango", "apple"]

In [4]:
thisList

['apple', 'banana', 'mango', 'apple']

# List Length

In [5]:
len(thisList)

4

# List Items - Data Types

List items can be of any data type:

In [8]:
list1 = ["apple","mango","banana"]
list2 = [1, 2, 3]
list3 = [True, False, False]

In [10]:
list1

['apple', 'mango', 'banana']

In [11]:
list2

[1, 2, 3]

In [12]:
list3

[True, False, False]

A list can contain different data types:

In [13]:
thisList = ["Apple", 1, True]
thisList

['Apple', 1, True]

In [14]:
type(thisList)

list

# Access List Items

List items are indexed and you can access them by referring to the index number:
    Example :
    Print the second item of the list:

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist[1]

'banana'

# Negative Indexing

Negative indexing means start from the end
-1 refers to the last item, -2 refers to the second last item etc.
Example :
Print the last item of the list:

In [17]:
thislist[-1]

'cherry'

In [18]:
thislist[-2]

'banana'

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.
When specifying a range, the return value will be a new list with the specified items.
Example :
Return the third, fourth, and fifth item:

In [20]:
thislist[1:]

['banana', 'cherry']

In [21]:
thislist[1:2]

['banana']

In [22]:
thislist

['apple', 'banana', 'cherry']

In [24]:
thislist[-2:-1]

['banana']

# Check if Item Exists

In [25]:
if "apple" in thislist:
    print("Yes")

Yes

# Change List Items

In [26]:
thislist[1] = "Mango"

In [27]:
thislist

['apple', 'Mango', 'cherry']

# Change List Items

In [28]:
thislist.append("Banana")
thislist

['apple', 'Mango', 'cherry', 'Banana']

# Insert Items

To insert a list item at a specified index, use the insert() method.
The insert() method inserts an item at the specified index:

In [29]:
thislist.insert(0,"Orange")

In [30]:
thislist

['Orange', 'apple', 'Mango', 'cherry', 'Banana']

# Extend List

To append elements from another list to the current list, use the extend() method.
Example :
Add the elements of tropical to thislist:

In [32]:
numbers = [1,2,3]
thislist.extend(numbers)

In [33]:
thislist

['Orange', 'apple', 'Mango', 'cherry', 'Banana', 1, 2, 3]

# Remove List Items

The remove() method removes the specified item.
Example :
Remove "banana":

In [34]:
thislist.remove(1)

In [35]:
thislist

['Orange', 'apple', 'Mango', 'cherry', 'Banana', 2, 3]

The pop() method removes the specified index.

In [36]:
thislist.pop(1)

'apple'

In [37]:
thislist

['Orange', 'Mango', 'cherry', 'Banana', 2, 3]

# Clear the List

The clear() method empties the list.
The list still remains, but it has no content.
Example :
Clear the list content:

In [38]:
thislist.clear()

In [39]:
thislist

[]

# Loop Lists

In [40]:
thisList = ["Apple","Banana","Mango",1,2,3]
thisList

['Apple', 'Banana', 'Mango', 1, 2, 3]

In [41]:
for x in thisList:
    print(x)

Apple
Banana
Mango
1
2
3

In [42]:
for x in range(len(thisList)):
    print(thisList[x])

Apple
Banana
Mango
1
2
3

# Sort Lists

In [43]:
thisList.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [44]:
thisList = [1,5,7,4,10]
thisList.sort()

In [45]:
thisList

[1, 4, 5, 7, 10]

In [46]:
thisList.sort(reverse = True)

In [47]:
thisList

[10, 7, 5, 4, 1]

# Copy Lists

In [50]:
myList = []
myList = thisList.copy()

In [51]:
myList

[10, 7, 5, 4, 1]

# Join Lists

There are several ways to join, or concatenate, two or more lists in Python.
One of the easiest ways are by using the + operator.
Another way to join two lists is by appending all the items from list2 into list1, one by one.
Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [52]:
list1 = ["a","b","c"]
list2 = [1,2,3]
list3 = list1+list2

In [53]:
list3

['a', 'b', 'c', 1, 2, 3]

In [55]:
for x in list2 :
    list1.append(x)

In [56]:
list1

['a', 'b', 'c', 1, 2, 3]

In [58]:
list1.extend(list2)

In [59]:
list1

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

# Python Tuples

Tuples are used to store multiple items in a single variable.
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets.
Example :
Create a Tuple:

In [60]:
tupleEx = ("apple","banana","mango")
tupleEx

('apple', 'banana', 'mango')

Tuple items are ordered, unchangeable, and allow duplicate values.
Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered :
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable :
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates :
Since tuples are indexed, they can have items with the same value:

# Allow Duplicates

In [61]:
tupleEx = ("apple","apple","banana")

In [62]:
tupleEx

('apple', 'apple', 'banana')

# Tuple Length

In [65]:
len(tupleEx)

3

In [66]:
type(tupleEx)

tuple

# Access Tuple Items

In [67]:
tupleEx[1]

'apple'

# Negative Indexing

Negative indexing means start from the end.
-1 refers to the last item, -2 refers to the second last item etc.

In [68]:
tupleEx[-2]

'apple'

# Range of Indexes

In [69]:
tupleEx[1:2]

('apple',)

# Unpack Tuples

Example :
Unpacking a tuple:

In [70]:
tupleEx

('apple', 'apple', 'banana')

In [73]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [74]:
(green,*red)
print(red)

cherry

In [75]:
print(green)

apple

# Loop Tuples

In [76]:
tupleEx

('apple', 'apple', 'banana')

In [79]:
for x in tupleEx:
    print(x)

apple
apple
banana

In [81]:
for x in range(len(tupleEx)):
    print(tupleEx[x])

apple
apple
banana

# Join Tuples

In [82]:
tuple1 = [1,2,3]
tuple2 = ["a","b","c"]
tuple1+tuple2

[1, 2, 3, 'a', 'b', 'c']

In [83]:
tuple1.extend(tuple2)

In [84]:
tuple1

[1, 2, 3, 'a', 'b', 'c']

# SET

Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
A set is a collection which is unordered, unchangeable*, and unindexed.
* Note: Set items are unchangeable, but you can remove items and add new items.
Sets are written with curly brackets.

In [86]:
thisSet = {"a","b","c","c"}
thisSet

{'a', 'b', 'c'}

# Get the Length of a Set

In [87]:
len(thisSet)

3

# Set Items - Data Types

In [92]:
set1 = {1,2,3}
set2 = {"a","b","c"}
set3 = {True,False,True}

In [93]:
set1

{1, 2, 3}

In [94]:
set3

{False, True}

In [95]:
set2

{'a', 'b', 'c'}

# Access Set Items

In [96]:
for x in set2 :
    print(x)

a
b
c

# Add Set Items

In [98]:
set2.add("d")

In [99]:
set2

{'a', 'b', 'c', 'd'}

# Add Sets

In [100]:
set1.update(set2)

In [101]:
set1

{1, 2, 3, 'a', 'b', 'c', 'd'}

# Remove Set Items

In [102]:
set1.remove(1)

In [103]:
set1

{2, 3, 'a', 'b', 'c', 'd'}

The clear() method empties the set.
The del keyword will delete the set completel.

In [104]:
set1.clear()

In [105]:
set1

set()

In [107]:
del set1

# Loop Sets

In [109]:
for x in set2:
    print(x)

d
a
b
c

# Dictionary

Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values:

In [111]:
dictEx = {"Model": "Toyota",
         "Year": 2021}
dictEx

{'Model': 'Toyota', 'Year': 2021}

In [113]:
dictEx["Model"]

'Toyota'

# Ordered or Unordered?

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

# Changeable

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

# Duplicates Not Allowed

Dictionaries cannot have two items with the same key:
Example :
Duplicate values will overwrite existing values:

In [115]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020,
  "listEx":[1,2,3]
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'listEx': [1, 2, 3]}

# Dictionary Items - Data Types

The values in dictionary items can be of any data type:
Example :
String, int, boolean, and list data types:

# Access Dictionary Items

You can access the items of a dictionary by referring to its key name, inside square brackets:
Example :
Get the value of the "model" key:

In [116]:
thisdict["brand"]

'Ford'

In [117]:
x = thisdict.get("brand")
x

'Ford'

# Get Keys

In [118]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'listEx'])

In [119]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('listEx', [1, 2, 3])])

# Data Frame

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
Example :
Create a simple Pandas DataFrame:

In [1]:
import pandas as pd

In [2]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
df

   calories  duration
0       420        50
1       380        40
2       390        45

# Locate Row

Pandas use the loc attribute to return one or more specified row(s)

In [4]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [8]:
df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

# Named Indexes

With the index argument, you can name your own indexes.
Example :
Add a list of names to give each row a name:

In [9]:
df = pd.DataFrame(data,index = ["day1","day2","day3"])

In [10]:
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [12]:
df.loc['day1']

calories    420
duration     50
Name: day1, dtype: int64

# Load Files Into a DataFrame

If your data sets are stored in a file, Pandas can load them into a DataFrame.
Example :
Load a comma separated file (CSV file) into a DataFrame:

In [14]:
df = pd.read_csv('data.csv')

In [15]:
df

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

In [16]:
df.loc[0]

Gender              Male
Age                   19
Salary             19000
Purchase Iphone        0
Name: 0, dtype: object

In [17]:
df.to_string()

'     Gender  Age  Salary  Purchase Iphone\n0      Male   19   19000                0\n1      Male   35   20000                0\n2    Female   26   43000                0\n3    Female   27   57000                0\n4      Male   19   76000                0\n5      Male   27   58000                0\n6    Female   27   84000                0\n7    Female   32  150000                1\n8      Male   25   33000                0\n9    Female   35   65000                0\n10   Female   26   80000                0\n11   Female   26   52000                0\n12     Male   20   86000                0\n13     Male   32   18000                0\n14     Male   18   82000                0\n15     Male   29   80000                0\n16     Male   47   25000                1\n17     Male   45   26000                1\n18     Male   46   28000                1\n19   Female   48   29000                1\n20     Male   45   22000                1\n21   Female   47   49000                1\n22     Male   48   41000                1\n23   Female   45   22000                1\n24     Male   46   23000                1\n25     Male   47   20000                1\n26     Male   49   28000                1\n27   Female   47   30000                1\n28     Male   29   43000                0\n29     Male   31   18000                0\n30     Male   31   74000                0\n31   Female   27  137000                1\n32   Female   21   16000                0\n33   Female   28   44000                0\n34     Male   27   90000                0\n35     Male   35   27000                0\n36   Female   33   28000                0\n37     Male   30   49000                0\n38   Female   26   72000                0\n39   Female   27   31000                0\n40   Female   27   17000                0\n41   Female   33   51000                0\n42     Male   35  108000                0\n43     Male   30   15000                0\n44   Female   28   84000                0\n45     Male   23   20000                0\n46     Male   25   79000                0\n47   Female   27   54000                0\n48     Male   30  135000                1\n49   Female   31   89000                0\n50   Female   24   32000                0\n51   Female   18   44000                0\n52   Female   29   83000                0\n53   Female   35   23000                0\n54   Female   27   58000                0\n55   Female   24   55000                0\n56   Female   23   48000                0\n57     Male   28   79000                0\n58     Male   22   18000                0\n59   Female   32  117000                0\n60     Male   27   20000                0\n61     Male   25   87000                0\n62   Female   23   66000                0\n63     Male   32  120000                1\n64   Female   59   83000                0\n65     Male   24   58000                0\n66     Male   24   19000                0\n67   Female   23   82000                0\n68   Female   22   63000                0\n69   Female   31   68000                0\n70     Male   25   80000                0\n71   Female   24   27000                0\n72   Female   20   23000                0\n73   Female   33  113000                0\n74     Male   32   18000                0\n75     Male   34  112000                1\n76     Male   18   52000                0\n77   Female   22   27000                0\n78   Female   28   87000                0\n79   Female   26   17000                0\n80     Male   30   80000                0\n81     Male   39   42000                0\n82     Male   20   49000                0\n83     Male   35   88000                0\n84   Female   30   62000                0\n85   Female   31  118000                1\n86     Male   24   55000                0\n87   Female   28   85000                0\n88     Male   26   81000                0\n89     Male   35   50000                0\n90     Male   22   81000                0\n91   Female   30  116000                0\n92     Male   26   15000                0\n93   Female   29   28000                0\n94   Female   29   83000                0\n95   Female   35   44000                0\n96   Female   35   25000                0\n97     Male   28  123000                1\n98     Male   35   73000                0\n99   Female   28   37000                0\n100    Male   27   88000                0\n101    Male   28   59000                0\n102  Female   32   86000                0\n103  Female   33  149000                1\n104  Female   19   21000                0\n105    Male   21   72000                0\n106  Female   26   35000                0\n107    Male   27   89000                0\n108    Male   26   86000                0\n109  Female   38   80000                0\n110  Female   39   71000                0\n111  Female   37   71000                0\n112    Male   38   61000                0\n113    Male   37   55000                0\n114    Male   42   80000                0\n115    Male   40   57000                0\n116    Male   35   75000                0\n117    Male   36   52000                0\n118    Male   40   59000                0\n119    Male   41   59000                0\n120  Female   36   75000                0\n121    Male   37   72000                0\n122  Female   40   75000                0\n123    Male   35   53000                0\n124  Female   41   51000                0\n125  Female   39   61000                0\n126    Male   42   65000                0\n127    Male   26   32000                0\n128    Male   30   17000                0\n129  Female   26   84000                0\n130    Male   31   58000                0\n131    Male   33   31000                0\n132    Male   30   87000                0\n133  Female   21   68000                0\n134  Female   28   55000                0\n135    Male   23   63000                0\n136  Female   20   82000                0\n137    Male   30  107000                1\n138  Female   28   59000                0\n139    Male   19   25000                0\n140    Male   19   85000                0\n141  Female   18   68000                0\n142    Male   35   59000                0\n143    Male   30   89000                0\n144  Female   34   25000                0\n145  Female   24   89000                0\n146  Female   27   96000                1\n147  Female   41   30000                0\n148    Male   29   61000                0\n149    Male   20   74000                0\n150  Female   26   15000                0\n151    Male   41   45000                0\n152    Male   31   76000                0\n153  Female   36   50000                0\n154    Male   40   47000                0\n155  Female   31   15000                0\n156    Male   46   59000                0\n157    Male   29   75000                0\n158    Male   26   30000                0\n159  Female   32  135000                1\n160    Male   32  100000                1\n161    Male   25   90000                0\n162  Female   37   33000                0\n163    Male   35   38000                0\n164  Female   33   69000                0\n165  Female   18   86000                0\n166  Female   22   55000                0\n167  Female   35   71000                0\n168    Male   29  148000                1\n169  Female   29   47000                0\n170    Male   21   88000                0\n171    Male   34  115000                0\n172  Female   26  118000                0\n173  Female   34   43000                0\n174  Female   34   72000                0\n175  Female   23   28000                0\n176  Female   35   47000                0\n177    Male   25   22000                0\n178    Male   24   23000                0\n179  Female   31   34000                0\n180    Male   26   16000                0\n181  Female   31   71000                0\n182  Female   32  117000                1\n183    Male   33   43000                0\n184  Female   33   60000                0\n185    Male   31   66000                0\n186  Female   20   82000                0\n187  Female   33   41000                0\n188    Male   35   72000                0\n189    Male   28   32000                0\n190    Male   24   84000                0\n191  Female   19   26000                0\n192    Male   29   43000                0\n193    Male   19   70000                0\n194    Male   28   89000                0\n195    Male   34   43000                0\n196  Female   30   79000                0\n197  Female   20   36000                0\n198    Male   26   80000                0\n199    Male   35   22000                0\n200    Male   35   39000                0\n201    Male   49   74000                0\n202  Female   39  134000                1\n203  Female   41   71000                0\n204  Female   58  101000                1\n205  Female   47   47000                0\n206  Female   55  130000                1\n207  Female   52  114000                0\n208  Female   40  142000                1\n209  Female   46   22000                0\n210  Female   48   96000                1\n211    Male   52  150000                1\n212  Female   59   42000                0\n213    Male   35   58000                0\n214    Male   47   43000                0\n215  Female   60  108000                1\n216    Male   49   65000                0\n217    Male   40   78000                0\n218  Female   46   96000                0\n219    Male   59  143000                1\n220  Female   41   80000                0\n221    Male   35   91000                1\n222    Male   37  144000                1\n223    Male   60  102000                1\n224  Female   35   60000                0\n225    Male   37   53000                0\n226  Female   36  126000                1\n227    Male   56  133000                1\n228  Female   40   72000                0\n229  Female   42   80000                1\n230  Female   35  147000                1\n231    Male   39   42000                0\n232    Male   40  107000                1\n233    Male   49   86000                1\n234  Female   38  112000                0\n235    Male   46   79000                1\n236    Male   40   57000                0\n237  Female   37   80000                0\n238  Female   46   82000                0\n239  Female   53  143000                1\n240    Male   42  149000                1\n241    Male   38   59000                0\n242  Female   50   88000                1\n243  Female   56  104000                1\n244  Female   41   72000                0\n245  Female   51  146000                1\n246  Female   35   50000                0\n247  Female   57  122000                1\n248    Male   41   52000                0\n249  Female   35   97000                1\n250  Female   44   39000                0\n251    Male   37   52000                0\n252  Female   48  134000                1\n253  Female   37  146000                1\n254  Female   50   44000                0\n255  Female   52   90000                1\n256  Female   41   72000                0\n257    Male   40   57000                0\n258  Female   58   95000                1\n259  Female   45  131000                1\n260  Female   35   77000                0\n261    Male   36  144000                1\n262  Female   55  125000                1\n263  Female   35   72000                0\n264    Male   48   90000                1\n265  Female   42  108000                1\n266    Male   40   75000                0\n267    Male   37   74000                0\n268  Female   47  144000                1\n269    Male   40   61000                0\n270  Female   43  133000                0\n271  Female   59   76000                1\n272    Male   60   42000                1\n273    Male   39  106000                1\n274  Female   57   26000                1\n275    Male   57   74000                1\n276    Male   38   71000                0\n277    Male   49   88000                1\n278  Female   52   38000                1\n279  Female   50   36000                1\n280  Female   59   88000                1\n281    Male   35   61000                0\n282    Male   37   70000                1\n283  Female   52   21000                1\n284    Male   48  141000                0\n285  Female   37   93000                1\n286  Female   37   62000                0\n287  Female   48  138000                1\n288    Male   41   79000                0\n289  Female   37   78000                1\n290    Male   39  134000                1\n291    Male   49   89000                1\n292    Male   55   39000                1\n293    Male   37   77000                0\n294  Female   35   57000                0\n295  Female   36   63000                0\n296    Male   42   73000                1\n297  Female   43  112000                1\n298    Male   45   79000                0\n299    Male   46  117000                1\n300  Female   58   38000                1\n301    Male   48   74000                1\n302  Female   37  137000                1\n303    Male   37   79000                1\n304  Female   40   60000                0\n305    Male   42   54000                0\n306  Female   51  134000                0\n307  Female   47  113000                1\n308    Male   36  125000                1\n309  Female   38   50000                0\n310  Female   42   70000                0\n311    Male   39   96000                1\n312  Female   38   50000                0\n313  Female   49  141000                1\n314  Female   39   79000                0\n315  Female   39   75000                1\n316  Female   54  104000                1\n317    Male   35   55000                0\n318    Male   45   32000                1\n319    Male   36   60000                0\n320  Female   52  138000                1\n321  Female   53   82000                1\n322    Male   41   52000                0\n323  Female   48   30000                1\n324  Female   48  131000                1\n325  Female   41   60000                0\n326    Male   41   72000                0\n327  Female   42   75000                0\n328    Male   36  118000                1\n329  Female   47  107000                1\n330    Male   38   51000                0\n331  Female   48  119000                1\n332    Male   42   65000                0\n333    Male   40   65000                0\n334    Male   57   60000                1\n335  Female   36   54000                0\n336    Male   58  144000                1\n337    Male   35   79000                0\n338  Female   38   55000                0\n339    Male   39  122000                1\n340  Female   53  104000                1\n341    Male   35   75000                0\n342  Female   38   65000                0\n343  Female   47   51000                1\n344    Male   47  105000                1\n345  Female   41   63000                0\n346    Male   53   72000                1\n347  Female   54  108000                1\n348    Male   39   77000                0\n349    Male   38   61000                0\n350  Female   38  113000                1\n351    Male   37   75000                0\n352  Female   42   90000                1\n353  Female   37   57000                0\n354    Male   36   99000                1\n355    Male   60   34000                1\n356    Male   54   70000                1\n357  Female   41   72000                0\n358    Male   40   71000                1\n359    Male   42   54000                0\n360    Male   43  129000                1\n361  Female   53   34000                1\n362  Female   47   50000                1\n363  Female   42   79000                0\n364    Male   42  104000                1\n365  Female   59   29000                1\n366  Female   58   47000                1\n367    Male   46   88000                1\n368    Male   38   71000                0\n369  Female   54   26000                1\n370  Female   60   46000                1\n371    Male   60   83000                1\n372  Female   39   73000                0\n373    Male   59  130000                1\n374  Female   37   80000                0\n375  Female   46   32000                1\n376  Female   46   74000                0\n377  Female   42   53000                0\n378    Male   41   87000                1\n379  Female   58   23000                1\n380    Male   42   64000                0\n381    Male   48   33000                1\n382  Female   44  139000                1\n383    Male   49   28000                1\n384  Female   57   33000                1\n385    Male   56   60000                1\n386  Female   49   39000                1\n387    Male   39   71000                0\n388    Male   47   34000                1\n389  Female   48   35000                1\n390    Male   48   33000                1\n391    Male   47   23000                1\n392  Female   45   45000                1\n393    Male   60   42000                1\n394  Female   39   59000                0\n395  Female   46   41000                1\n396    Male   51   23000                1\n397  Female   50   20000                1\n398    Male   36   33000                0\n399  Female   49   36000                1'

# max_rows

The number of rows returned is defined in Pandas option settings.
You can check your system's maximum rows with the pd.options.display.max_rows statement.
Example :
Check the number of maximum returned rows:

In [18]:
pd.options.display.max_rows

60

# Pandas - Analyzing DataFrames

Viewing the Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.
The head() method returns the headers and a specified number of rows, starting from the top.
Example :
Get a quick overview by printing the first 10 rows of the DataFrame:

In [19]:
df.head(10)

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0
5    Male   27   58000                0
6  Female   27   84000                0
7  Female   32  150000                1
8    Male   25   33000                0
9  Female   35   65000                0

Note: if the number of rows is not specified, the head() method will return the top 5 rows.
Example :
Print the first 5 rows of the DataFrame:

In [20]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

There is also a tail() method for viewing the last rows of the DataFrame.
The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [21]:
df.tail()

     Gender  Age  Salary  Purchase Iphone
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

# Info About the Data

The DataFrames object has a method called info(), that gives you more information about the data set.
Example :
Print information about the data:

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   Salary           400 non-null    int64
 3   Purchase Iphone  400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB