# Variables

Variables are entities of a program that holds a value. Here is an example of a variable:
x=100

The data type for a variable is the type of data it holds. 
In the above example, x is holding 100, which is a number, and the data type of x is a number.

In Python, there are three types of numbers: Integer, Float, and Complex.
Integers are numbers without decimal points. Floats are numbers with decimal points. Complex numbers have real parts and imaginary parts.

Another data type that is very different from a number is called a string, which is a collection of characters.

Let’s see a variable with an integer data type:

In [1]:
x = 100

To check the data type of x, use the type() function:

In [ ]:
type(x)

Python allows you to assign variables while performing arithmetic operations.

In [3]:
x=654*6734

To display the output of the variable, use the print() function.

In [5]:
print(x)

4404036

Now, let’s see an example of a floating-point number:

In [6]:
x = 3.14
type(x)

float

Strings are declared within a single or double quote.

In [8]:
x = "Hello World"
y = 'Hello World'
print(x)
print(y)
type(x)
type(y)

Hello World
Hello World

str

In all of the examples above, we only assigned a single value to the variables. Python has specific data types or objects that hold a collection of values, too. A Python List is one such example.
Here is an example of a list:

In [9]:
x = [1,2,3]
print(x)
type(x)

[1, 2, 3]

list

You can extract the values from the list using the index position method. In lists, the first element index position starts at zero, the second element at one, the third element at two, and so on.
To extract the first element from the list x:

In [10]:
print(x[0])

1

Lists are mutable objects, which means you can change the values in a list once they are declared.

In [11]:
x[1] = 100
print(x)

[1, 100, 3]

Tuples are a type of Python object that holds a collection of value, which is ordered and immutable. Unlike a list that uses a square bracket, tuples use parentheses.

In [12]:
a = (10,20,30)
print(a)
type(a)

(10, 20, 30)

tuple

In [13]:
print(a[1])

20

If you want to change any value in a tuple, it will throw an error. Once you have stored the values in a variable for a tuple, it remains the same.

In [14]:
a[1] = 50

TypeError: 'tuple' object does not support item assignment

Suppose you want to assign values to multiple variables. Instead of having multiple lines of code for each variable, you can assign it in a single line of code.

In [15]:
x,y,z = 10,20,30

In [16]:
print(y)
print(x)
print(z)

20
10
30

The following line code results in an error because the number of values assigned doesn’t match with the number of variables declared.

In [17]:
x,y = 10,20,30

ValueError: too many values to unpack (expected 2)

If you want to assign the same value to multiple variables, use the following syntax:

In [18]:
x = y = z = 1

In [19]:
print(x)
print(y)
print(z)

1
1
1

Various rules for naming variable :
1. A variable name must begin with a letter of the alphabet or an underscore(_)
2. The first character can be followed by letters, numbers or underscores.
3. Python variable names are case sensitive.
4. Reserved words cannot be used as variable names.

# Python if...else Statement

Decision making is required when we want to execute a code only if a certain condition is satisfied.
The if…elif…else statement is used in Python for decision making.

Python if Statement Syntax

if test expression:
    statement(s)

Example: Python if Statement

In [2]:
num = 3
if(num>0):
    print("Positive")
else:
    print("Negative")

Positive

Python if...elif...else Statement

Python Nested if Example

In [3]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 10
Positive number

# Python for Loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

Example

In [7]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
numbers = [10,20,30,40]
sum = 0
for val in numbers:
    sum = sum+val
print("The sum is :", sum)

The sum is : 100

The range() function

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as range(start, stop,step_size). step_size defaults to 1 if not provided.

In [16]:
print(range(10))
print(list(range(0,10)))
print(list(range(2,8)))
print(list(range(1,20,3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[1, 4, 7, 10, 13, 16, 19]

In [18]:
x = ['a','b','c']
for i in range(len(x)):
    print(x[i])

a
b
c